@model Morgenmadsbuffet.Models.Buffet

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Buffet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="roomNum" class="control-label"></label>
                <input asp-for="roomNum" class="form-control" />
                <span asp-validation-for="roomNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adults" class="control-label"></label>
                <input asp-for="adults" class="form-control" />
                <span asp-validation-for="adults" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="children" class="control-label"></label>
                <input asp-for="children" class="form-control" />
                <span asp-validation-for="children" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="day" class="control-label"></label>
                <input asp-for="day" class="form-control" />
                <span asp-validation-for="day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedInAdult" class="control-label"></label>
                <input asp-for="CheckedInAdult" class="form-control" />
                <span asp-validation-for="CheckedInAdult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedInChildren" class="control-label"></label>
                <input asp-for="CheckedInChildren" class="form-control" />
                <span asp-validation-for="CheckedInChildren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
